body{
    padding: 0px;
    margin: 0px;
    font-family:  'Arial';
}

#contenedor{
    color: red;
    border:1px solid black;
    width: 30%;
    padding: 10px;
    margin: 0 auto;
    color: blue;
}

#cabecera{
    background-color: cornflowerblue;
    padding: 10px;
    color: darkblue;
    font-weight: bold;
}
